<div class="search-page">
  <% if @photos.exists? %>
    <h1>Top Posts</h1>
  <% else %>
    <h1>Oop! No matching posts ...</h1>
  <% end %>
<div class="user-images">
    <% @photos.each do |photo|%>
      <div class="wrapper">
        <%=image_tag photo.image %>
      </div>
    <% end %>
  </div>
</div>
